@import "tailwindcss";

*{
  box-sizing: border-box;
}
:root {
  --font-roboto-serif: 'Roboto Serif', serif;
  --font-caveat: 'Caveat', cursive;
  --font-cedarville-cursive: 'Cedarville Cursive', cursive;
}

.font-roboto-serif {
  font-family: var(--font-roboto-serif);
}

.font-caveat {
  font-family: var(--font-caveat);
}

.font-cedarville-cursive {
  font-family: var(--font-cedarville-cursive);
}

.slide-right-content-container{
  background-image: url("/svg/geometric-patter-1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
  
/* in globals.css or tailwind.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox */
}

